#!name = 🍿️ DualSubs: ▶️ YouTube
#!desc = YouTube 增强及双语字幕(歌词)
#!openUrl = http://boxjs.com/#/app/DualSubs.YouTube
#!author = VirgilClyne[https://github.com/VirgilClyne]
#!homepage = https://DualSubs.github.io/guide/youtube
#!icon = https://github.com/DualSubs/YouTube/raw/main/src/assets/icon_rounded.png
#!category = 🍿️ DualSubs
#!date = 2024-12-11 01:41:21
#!version = 1.5.11

#[rewrite_local]
^https?:\/\/([\w-]+)\.googlevideo\.com\/initplayback(\?.*oad=.+)$ url reject-dict

#[Script]
# YouTube
# 🍿️ DualSubs.YouTube.Player.request.json
^https?:\/\/(www|m|tv)\.youtube\.com\/youtubei\/v1\/player(\?.+)?$ url script-request-body https://raw.githubusercontent.com/Pythonming2020/qx-rules-mirror/main/mirror/DualSubs_YouTube/request.bundle.js
# 🍿️ DualSubs.YouTube.Player.response.json
^https?:\/\/(www|m|tv)\.youtube\.com\/youtubei\/v1\/player(\?.+)?$ url script-response-body https://raw.githubusercontent.com/Pythonming2020/qx-rules-mirror/main/mirror/DualSubs_YouTube/response.bundle.js
# 🍿️ DualSubs.YouTube.Player.request.proto
^https?:\/\/youtubei\.googleapis\.com\/youtubei\/v1\/player(\?.+)?$ url script-request-body https://raw.githubusercontent.com/Pythonming2020/qx-rules-mirror/main/mirror/DualSubs_YouTube/request.bundle.js
# 🍿️ DualSubs.YouTube.Player.response.proto
^https?:\/\/youtubei\.googleapis\.com\/youtubei\/v1\/player(\?.+)?$ url script-response-body https://raw.githubusercontent.com/Pythonming2020/qx-rules-mirror/main/mirror/DualSubs_YouTube/response.bundle.js
# 🍿️ DualSubs.YouTube.GetWatch.response.proto
^https?:\/\/youtubei\.googleapis\.com\/youtubei\/v1\/get_watch(\?.+)?$ url script-response-body https://raw.githubusercontent.com/Pythonming2020/qx-rules-mirror/main/mirror/DualSubs_YouTube/response.bundle.js
# 🍿️ DualSubs.YouTube.TimedText.request
^https?:\/\/(www|m)\.youtube\.com\/api\/timedtext url script-request-header https://raw.githubusercontent.com/Pythonming2020/qx-rules-mirror/main/mirror/DualSubs_YouTube/request.bundle.js
# 🍿️ DualSubs.YouTube.Composite.TimedText.response
^https?:\/\/(www|m)\.youtube\.com\/api\/timedtext\?(.*)subtype=(Official|External) url script-response-body https://raw.githubusercontent.com/Pythonming2020/qx-rules-mirror/main/mirror/DualSubs_Universal/Composite.Subtitles.response.bundle.js
# 🍿️ DualSubs.YouTube.Translate.TimedText.response
^https?:\/\/(www|m)\.youtube\.com\/api\/timedtext\?(.*)subtype=Translate url script-response-body https://raw.githubusercontent.com/Pythonming2020/qx-rules-mirror/main/mirror/DualSubs_Universal/Translate.response.bundle.js

# YouTube Music
# 🍿️ DualSubs.YouTubeMusic.Browse.request.json
^https?:\/\/music\.youtube\.com\/youtubei\/v1\/browse(\?.+)?$ url script-request-body https://raw.githubusercontent.com/Pythonming2020/qx-rules-mirror/main/mirror/DualSubs_YouTube/request.bundle.js
# 🍿️ DualSubs.YouTube.Browse.request.proto
^https?:\/\/youtubei\.googleapis\.com\/youtubei\/v1\/browse(\?.+)?$ url script-request-body https://raw.githubusercontent.com/Pythonming2020/qx-rules-mirror/main/mirror/DualSubs_YouTube/request.bundle.js
# 🍿️ DualSubs.YouTubeMusic.Translate.Lyrics.response.json
^https?:\/\/music\.youtube\.com\/youtubei\/v1\/browse\?(.*)subtype=Translate url script-response-body https://raw.githubusercontent.com/Pythonming2020/qx-rules-mirror/main/mirror/DualSubs_Universal/Translate.response.bundle.js
# 🍿️ DualSubs.YouTubeMusic.Translate.Lyrics.response.proto
^https?:\/\/youtubei\.googleapis\.com\/youtubei\/v1\/browse\?(.*)subtype=Translate url script-response-body https://raw.githubusercontent.com/Pythonming2020/qx-rules-mirror/main/mirror/DualSubs_Universal/Translate.response.bundle.js

#[MITM]
hostname = www.youtube.com, m.youtube.com, tv.youtube.com, music.youtube.com, youtubei.googleapis.com, -redirector*.googlevideo.com, *.googlevideo.com
